body {
  text-align: center;
}

#container {
  padding: 30px;
}

table {
  margin: 0 auto;
  border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 1px;
    width: 30px;
    height: 30px;
}

.safe {
  background: grey;
}

.bomb {
  background: red;
}